a:link              { font: 12px verdana; color: #2B5570; text-decoration: none }
a:active            { font: 12px verdana; color: #2B5570; text-decoration: none }
a:visited           { font: 12px verdana; color: #2B5570; text-decoration: none }
a:hover             { font: 12px verdana; color: #EE4C0C; text-decoration: none }

a.normal:link       { font: 12px verdana; color: #FFFFFF; text-decoration: none }
a.normal:active     { font: 12px verdana; color: #FFFFFF; text-decoration: none }
a.normal:visited    { font: 12px verdana; color: #FFFFFF; text-decoration: none }
a.normal:hover      { font: 12px verdana; color: #FFFFFF; text-decoration: underline }

body
{
  color: #FFFFFF;
  margin: 0px;
  background-color: #909FA4;
  scrollbar-base-color: #909FA4;
}

td
{
  font: 12px verdana;
}

.menutitle
{
  padding: 1px;
  padding-left: 10px;
  padding-bottom: 3px;
  border: 1px solid #A5B5C5;
  color: #FFFFFF;
  background-color: #E2AD8D;
  margin-bottom: 2px;
  cursor: pointer;
  font-weight:bold;
}

.menulink-normal, .menulink-hover
{
  border: solid 1px #D1D3D4;
  padding: 2px 8px 2px 10px;
  text-align: left;
  cursor: hand;
  margin-bottom: 2px;                
}

.menulink-normal
{
  background: #F1F3F5;
}

.menulink-hover
{
  background: #C6F6FA;
}